* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

:root {
    scroll-behavior: smooth;
}

/* .header {
    background-image: $gradient-header, url(img/);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
} */

header.masthead  {
    position: relative;
    /* position: absolute; */
    background-color: #343a40;
    background: url("../img/nick-chong-N__BnvQ_w18-unsplash.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-attachment: fixed;
    opacity: 0.8;
}

/* header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
} */

header.masthead h1 {
    font-size: 2rem;
}


.features-icons-item {
    max-width: 20rem;
}

.features-icons-icon {
    height: 7rem;
}

